@model Taller.Estacionamiento.Models.Espacio


<div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("ConfirmarReserva", "Estacionamiento", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Estacionar vehículo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Estacionamiento</label>
                                <div class="col-sm-9">
                                    <input id="ID" name="ID" type="hidden" />
                                    <input type="text" id="form-field-nombre" class="col-xs-12" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Patente</label>
                                <div class="col-sm-9">
                                    <input type="text" id="form-field-patente" class="col-xs-12" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Cliente</label>
                                <div class="col-sm-9">
                                    <input type="text" id="form-field-cliente" class="col-xs-12" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Espacio</label>
                                <div class="col-sm-9">
                                    @Html.HiddenFor( m => m.Codigo )
                                    <input class="col-xs-12" id="codigo1" name="codigo1" type="text" value="codigo" disabled/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-arrow-left bigger-110"></i>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-sm btn-success enviar">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Aceptar
                    </button>
                </div>

            </div>
        }
    </div>
</div>