@model Taller.Estacionamiento.Models.RegistroPersonal

<div class="modal fade" id="modalSalida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("SalidaPersonal", "Estacionamiento", FormMethod.Post))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Registrar Salida</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.HiddenFor(model => model.Estacionamiento.ID)
                            @Html.HiddenFor(model => model.ID, new { @id = "idRegistroPersonal" })
                            @Html.HiddenFor(model => model.Ingreso, new { @id = "FechaIngreso" })
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Salida</label>

                                <div class="col-sm-9">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Salida,
                                            new
                                            {
                                                @class = "form-control date",
                                                id = "datetimepickerSalida",
                                                type = "text",
                                                @required = true
                                            })
                                        <!-- calendario ejemplo... no se agregar bien el botón
                                        <div class='input-group date' id='datetimepickerEntrada'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-arrow-left bigger-110"></i>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-sm btn-success">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Aceptar
                    </button>
                </div>
            </div>
        }
    </div>
</div>