@model Taller.Estacionamiento.Models.Espacio


<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <!-- form start-->
        @using (Html.BeginForm("editarSlot", "Estacionamiento", new { id = @ViewData["idEstacionamiento"] }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar Slot</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "col-sm-3 control-label no-padding-right" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Codigo, new { @class = "col-xs-12", @id = "slot-editar-codigo" })
                                 
                                    </div>
                                </div>

                             

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-arrow-left bigger-110"></i>
                        Cancelar
                    </button>
                    <button type="submit" value="Submit" class="btn btn-sm btn-success">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Aceptar
                    </button>
                </div>
            </div>
        }
        <!-- form end-->
    </div>
</div>