@{
    ViewBag.Title = "Promociones";
}

<div class="page-header">
    <h1>
        Promociones
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Crear Nueva
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" id="cliente_form" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nombre de Promoción </label>

                <div class="col-sm-9">
                    <input type="text" id="nombre_tarifa" name="nombre_tarifa" placeholder="Ej: Día Normal, Fin de Semana" class="col-xs-10 col-sm-5 " />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Descripción </label>

                <div class="col-sm-9">
                    <input type="text" id="precio_tarifa" name="precio_tarifa" placeholder="ej: Solo por hoy" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Fecha de inicio </label>

                <div class="col-sm-9">
                    <input type="number" id="cuota_minima" name="cuota_minima" placeholder="Ej: $600" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Fecha de termino </label>

                <div class="col-sm-9">
                    <input type="number" id="cuota_minima" name="cuota_minima" placeholder="Ej: $600" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Crear
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Reiniciar
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
